/* 去除所有元素的默认样式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	/* 👇小技巧，在全局设置一个字体比例后，1rem 就是 10px, 设置后记得加载到 storybook 中，storybook 是独立的运行环境 */
	font-size:62.5%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 全局去除表单类的标签点击时的边框 */
input,button,select{
	outline: none;
}
